{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

     <ul class="listing">
        {% for listing in listings %}
            {% if listing.active %}
                <a href="{% url 'listing' listing.id %}">
                    <li class="listing-card">
                        <img class="card-img" src="{{ listing.photo_url }}">

                        <div class="card-text">
                            <h5 class="card-title">
                                {{ listing.title }}
                            </h5>

                            <div>
                                <strong>$ {{ listing.price }}</strong>
                            </div>

                            <div>
                                <p class="card-description">{{ listing.description }}</p>
                            </div>
                        </div>
                    </li>
                 </a>
             {% endif %}
        {% endfor %}
    </ul>
{% endblock %}