{% extends "auctions/layout.html" %}

{% block body %}
    <div class="details">
        <img class="details-img" src="{{ listing.photo_url }}">

        <div>
            {% if user.is_authenticated %}
                {% if listing.seller != user %}
                    {% if is_favorite %}
                        <a href="{% url 'favorite' listing.id %}">Remove from watchlist</a>
                    {% elif listing.active %}
                        <a href="{% url 'favorite' listing.id %}">Add to watchlist</a>
                    {% endif %}

                    {% if bidings and last_bid.buyer == user and not listing.active %}
                        <h5>You won this auction!</h5>
                    {% endif %}

                {% elif listing.active %}
                    <a href="{% url 'close' listing.id %}">Close auction</a>
                {% endif %}
            {% endif %}


            <h2>{{ listing.title }}</h2>

            <ul class="details-text">
                <li><strong>Description:</strong> {{ listing.description }}</li>
                <li><strong>Seller:</strong> {{ listing.seller }}</li>
                {% if listing.category %}
                    <li><strong>Category:</strong> {{ listing.category }}</li>
                {% else %}
                    <li><strong>Category not listed</li>
                {% endif %}
                <li class="details-price" ><strong>Price:</strong> {{ listing.price }}</li>
            </ul>

            {% if listing.active %}
                <div class="details-bid">
                    <h3>Place bid</h3>
                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ bid_form }}
                        <input type="submit" name="bid">
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

    <div>
        {% if listing.active %}
            <h2>Comments</h2>

            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" name="comment">
            </form>

            {% for comment in comments %}
                <div class="details-comment">
                    <div><strong>{{ comment.user }}</strong></div>
                    <div>{{ comment.text }}</div>
                </div>
            {% endfor %}

        {% else %}
            <h2>Comments</h2>

            {% for comment in comments %}
                <div class="details-comment">
                    <div><strong>{{ comment.user }}</strong></div>
                    <div>{{ comment.text }}</div>
                </div>
            {% endfor %}

        {% endif %}
    </div>
{% endblock %}