{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        {% if listing.active and listing.seller == user %}
            <a href="{% url 'close' listing.id %}">Close auction</a>
        {% elif not listing.active and bidings and last_bid.buyer == user %}
            <h5>You won this auction!</h5>
        {% endif %}
    {% endif %}

    <h2>{{ listing.title }}</h2>
    <img src="{{ listing.photo_url }}" width="256">
    <ul>
        <li>Description: {{ listing.description }}</li>
        <li>Seller: {{ listing.seller }}</li>
        {% if listing.category %}
            <li>Category: {{ listing.category }}</li>
        {% else %}
            <li>Category: Category not listed</li>
        {% endif %}
        <li>Price: {{ listing.price }}</li>
    </ul>

    {% if listing.active %}
        <h2>Place bid</h2>
        <form action="{% url 'bid' listing.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>
    {% endif %}


    <h2>Bidings</h2>
    <ul>
        {% for bid in bidings %}
            <li>{{ bid }}</li>
        {% empty %}
            <li>Minimal bid: {{ listing.initial_bid }}</li>
        {% endfor %}
    </ul>
{% endblock %}